<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Hello!</h1>
    <p class="lead"><span>This is a simple demo of the Programming exercise concerning Routing of telephone calls</span></p>
    <hr class="my-4">
    <p>
      As you know,<br>
      The goal with this exercise is to write a program that can handle any number of price lists (operators) and then can calculate which operator that is cheapest for a certain number.
    </p>

    
    <p class="lead">
      <a class="btn btn-success btn-lg" routerLink="/home" role="button">Demo</a>
    </p>
  </div>
</div>